.mainSec{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  color: white;
  gap: 10px;
}
.mainSec h1{
  font-size: 40px;
  color: green;
}
.mainSec p{
  font-size: 20px;
}
.jockSec{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 40px;
}
.jokeCont{
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 10px;
  /* height: 200px; */
  width: 450px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  flex-direction: column; 
  padding: 20px;
}
.jokeCont h3{
  font-size: 25px;
  color:rgb(57, 57, 6);
}
.jokeCont p{
  font-size: 25px;
  font-weight: 200;
  word-spacing: 2px;
  color: black;
  
}